.main-page {
    min-width: 1000px;
    display: flex;
    flex-direction: row;

    .posts-list, .current-post {
        margin-top: 30px;
        background: rgb(147, 253, 255);
    }

    .posts-list {
        height: auto;
        //height: 800px;
        width: 300px;
        margin-left: auto;
        margin-right: 5px;
    }

    .current-post {
        height: auto;
        //height: 800px;
        width: 600px;
        margin-right: auto;
        margin-left: 5px;
    }
}