.post-in-list {
    background: rgb(255, 169, 169);
    width: auto;
    margin: 5px;
    display: flex;
    flex-direction: column;

    .post-name {
        margin: 5px;
        border-bottom: 1px solid gray;
    }

    .post-info {
        font-size: 10px;
        margin: 5px;
    }
}

.post-head {
    margin: 5px;
    display: flex;
    flex-direction: column;

    .post-name {
        margin: 5px;
        //border-bottom: 1px solid gray;
        font-size: 35px;
    }

    .post-info {
        font-size: 10px;
        margin-left: 5px;
    }

    .post-content {
        margin: 5px;
    }
}