@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	min-width: 400px;
	//background: #ffedd8;
	//height: 100%;
}


.login-form {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	display: flex;
	flex-direction: column;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	
	//border-radius: 15px;
	//background: #ffffff;
	//box-shadow: 0 3px 5px rgba(69, 69, 69, 0.5);
	padding: 30px;

	input, button {
		color: rgb(55, 55, 55);
		font-size: 20px;
		margin: 10px;
		padding: 15px;
		border: none;
		outline: none;
		background: none;
		border-bottom: 1px solid lightgray;
	}

	label {
		margin: auto;
		padding: 15px;
		font-size: 15px;
		color: red;
	}

	button {
		// width: 100%;
		// margin: 0;
		border: none;
		//border-radius: 15px;
	}

	button:hover {
		background: #f0f0f0;
		border: none;
		//box-shadow: 0 3px 5px rgba(69, 69, 69, 0.5);
	}
}

Link {
	color: black;
}

@media screen and (min-width: 790px) {
	.navigation-header {
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: row;
		//background: #e7ffff;
		background: #465e9e;
		box-shadow: 0 3px 5px rgba(69, 69, 69, 0.5);
		width: 100%;
		height: 50px;
		align-items: center;

		.link-div {
			display: flex;
			flex-direction: row;
			
			.login-register {
				display: flex;
				flex-direction: row;
			}
		}
	
		#login, #register, #home, #profile {
			margin: 5px;
			font-size: 20px;
			color: black;
		}
	
		a {
			color: rgb(255, 255, 255);
			text-decoration: none;
		}
	
		.search {
			align-items: center;
			display: flex;
			flex-direction: row;
			width: 500px;
			font-size: 20px;
			margin: auto;
			box-shadow: 0 0 2px rgba(69, 69, 69, 0.5);
			border-radius: 15px;
			border: none;
			background: #ffffff;
	
			img {
				margin: 10px;
				height: 15px;
				width: 15px;
				filter: contrast(10%);
			}
	
			img:hover {
				filter: contrast(200%);
			}
	
			input {
				outline: none;
				background: #ffffff;
				padding: 5px 20px 5px 20px;
				//height: 20px;
				width: 100%;
				margin-right: auto;
				border: none;
				border-radius: 15px;
			}
		}
	
		.logo-div {
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 150px;
			font-size: 25px;
			color: white;
	
			img {
				height: 35px;
				width: 35px;
				margin-bottom: 5px;
				margin-left: 30px;
			}
		}
	}

	.profile-page {
		display: flex;
		flex-direction: row;

		.profile-div {
			padding: 15px;
			//max-width: 1100px;
			min-width: 760px;
			width: 100%;
			display: flex;
			//flex-direction: column;
			//background: #e7e7eb;
			//box-shadow: 0 3px 5px rgba(69, 69, 69, 0.5);
			//margin: 15px 15px;
			//border-radius: 15px;
			//border-bottom: 1px solid lightgray;
			border-right: 1px solid lightgray;
	
			.avatar-div {
				margin: 15px;
				display: flex;
				flex-direction: column;
	
				.avatar {
					//border-radius: 20px;
					border-radius: 100%;
					height: 300px;
					width: 300px;
					box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
					//border: 5px solid gold;
				}
	
				.upload-avatar {
					margin: auto;
					width: 90%;
					display: flex;
					flex-direction: row;
					align-items: center;
					margin-top: 10px;
					//text-align: center;
					//background: lightgray;
	
					.upload-button {
						//margin: auto;
						margin-right: 0;
						//background: #f3fdff;
						border: none;
						//border-radius: 15px;
						background: none;
					}
	
					input {
						//margin: auto;
						width: 100%;
					}
				}
	
				
			}
	
			.info {
				//margin: 15px;
				display: flex;
				flex-direction: column;
				width: 100%;
				padding: 25px;
	
				.other-info {
					margin: 15px 0;
					display: flex;
					flex-direction: column;

					.contacts-div {
						display: flex;
						flex-direction: column;
						margin: 15px 0;

						.icons {
							display: flex;
							flex-direction: row;

							img {
								height: 40px;
								width: 40px;
								margin-right: 5px;
								filter: contrast(20%);
							}

							img:hover {
								filter: contrast(200%);
							}
							
						}
					}

					.hidden-info {
						display: flex;
						flex-direction: column;
					}
				}
	
				.login-div {
					font-size: 40px;
					color: #465e9e;
					border-bottom: 1px solid rgba(128, 128, 128, 0.5);
					align-items: center;
					display: flex;
					flex-direction: row;
	
					.login {
						width: 100%;
						//background: skyblue;
	
						label {
							//padding: 5px 15px;
							//width: 100%;
							//background: skyblue;
						}
	
						input {
							width: auto;
							font-size: 40px;
							color: #465e9e;
							border: none;
							background: white;
							outline: none;
							font-family: 'Roboto';
							border-radius: 15px;
							//padding-left: 15px;
							padding: 0;
						}
					}
	
					.control {
						height: 20px;
						width: 20px;
						margin-right: 10px;
						filter: contrast(10%);
					}
		
					.control:hover {
						filter: contrast(200%);
					}
				}
	
				.full-name {
					//padding: 5px 15px;
					border: none;
					background: none;
					padding: 0;
					font-family: 'Roboto';
					font-size: 20px;
					outline: none;
				}
			}
	
			.control {
				left: 100%;
				display: flex;
				flex-direction: column;
				margin: 15px;
			}
		}

		.popular-posts {
			width: 450px;
		}
	}

	.main-page {
		
		position: relative;
		z-index: 2;
		font-family: 'Roboto';
		min-width: 400px;
		display: flex;
		flex-direction: row;
		//margin: 15px;
		height: 100%;

		.posts-list, .current-post {
			height: 100%;
			//margin: 15px auto;
			
			//box-shadow: 0 3px 5px rgba(69, 69, 69, 0.5);
			//border-radius: 15px;
			padding: 5px;
		}

		.popular-categories {
			width: 400px;
			padding: 15px 5px;
			height: 100%;
			display: flex;
			flex-direction: column;
			border-left: 1px solid lightgray;
			//border-bottom: 1px solid lightgray;

			label {
				color: #36487b;
				font-size: 20px;
				text-align: center;
			}

			.categories {
				display: flex;
				flex-direction: column;
				

				.category-div {
					font-weight: 600;
					color: cornsilk;
					font-size: 15px;
					margin: 10px auto;
					padding: 5px 15px 5px 15px;
					background: #465e9e;
					width: fit-content;
					border-radius: 15px;
					transition: box-shadow 0.1s ease;
				}
	
				.category-div:hover {
					box-shadow: 0 3px 5px rgba(69, 69, 69, 0.5);
				}
			}

			
		}

		.posts-list {
			position: relative;
			z-index: 3;
			//background: e7ffff;
			height: fit-content;
			max-width: 400px;
			min-width: 400px;
			position: relative;
			//margin-right: 5px;
			//border-right: 1px solid rgba(128, 128, 128, 0.5);
			//border-bottom: 1px solid lightgray;
			border-right: 1px solid lightgray;
			padding: 0;

			.create-post-div {
				padding: 15px;
				//margin: 15px;
				transition: background 0.1s ease;
				align-items: center;
				background: none;
				width: auto;
				display: flex;
				flex-direction: row;
				//flex-direction: column;
				//padding: 5px;
				//box-shadow: 0 3px 5px rgba(69, 69, 69, 0.5);
				//border-radius: 15px;
				//background: #f1f5ff;

				img {
					//padding: 10px;
					filter: contrast(10%);
					height: 40px;
					width: 40px;
					margin-right: 0;
				}
				label {
					color: #475a94;
					font-size: 20px;
					width: 100%;
					margin-left: 0;
				}
			}

			.create-post-div:hover {
				background: rgb(240, 240, 240);
				//border-radius: 15px;
				//box-shadow: 0 2px 2px rgba(69, 69, 69, 0.5);

				img {
					filter: contrast(200%);
				}
			}

			.pagination {
				//text-align: center;
				//margin: 5px;
				align-items: center;
				//width: calc(100% - 20px);
				width: fit-content;
				margin: auto;
				display: flex;
				flex-direction: row;

				img {
					margin: 5px;
					height: 20px;
					width: 20px;
					filter: contrast(20%);
				}

				img:hover {
					filter: contrast(200%);
				}

				.prev {
					rotate: 90deg;
				}

				.next {
					rotate: 270deg;
				}
			}

			.post-in-list {
				background: none;
				width: auto;
				margin: 0px 0px;
				display: flex;
				flex-direction: column;
				padding: 15px 10px;
				//border-bottom: 1px solid rgba(204, 204, 204, 0);
				transition: background 0.1s ease;
			
				.post-name {
					font-size: 20px;
					color: #36487b;
					margin: 0px 5px;
					font-weight: lighter;
				}

				.categories {
					margin: 5px;

					.category-div {
						font-weight: 600;
						color: cornsilk;
						font-size: 15px;
						margin-right: 10px;
						padding: 3px 12px 3px 12px;
						background: #465e9e;
						width: auto;
						border-radius: 15px;
						transition: box-shadow 0.1s ease;
					}

					.category-div:hover {
						box-shadow: 0 3px 5px rgba(69, 69, 69, 0.5);
					}
				}
			
				.post-info {
					display: flex;
					flex-direction: row;
					align-items: center;
					position: relative;
					color: rgb(99, 99, 99);
					
					label {
						margin-left: 5px;
						font-size: 15px;
					}

					.author {
						font-weight: bolder;
					}

					.rating {
						position: absolute;
						margin-right: 15px;
						right: 0;
					}

				}
			}

			.post-in-list:hover {
				background: rgb(240, 240, 240);
			}
		}

		.current-post {
			padding: 30px;
			//height: fit-content;
			height: 100%;
			width: 100%;
			min-width: 350px;
			//margin-left: 5px;
			border-left: 1px solid lightgray;
			border-right: 1px solid lightgray;
			//border-bottom: 1px solid lightgray;
			margin-left: -1px;
			margin-right: -1px;

			.create-post-div {
				flex-direction: column;
				display: flex;

				.error {
					color: red;
					text-align: center;
					margin: 5px;
				}

				button {
					color: cornsilk;
					font-size: 18px;
					margin: 15px auto;
					background: #465e9e;
					border-radius: 15px;
					border: none;
					padding: 10px 15px;
					outline: none;
					width: fit-content;
					//width: auto;
				}

				button:hover {
					//background: rgb(233, 244, 255);
					//border-radius: 15px;
					box-shadow: 0 2px 2px rgba(69, 69, 69, 0.5);
				}

				.title-row {
					display: flex;
					flex-direction: row;
					font-size: 30px;
					padding: 5px;
					align-items: center;
					border-bottom: 1px solid lightgray;
					//background: darkcyan;

					.input-length-controller {
						font-size: 15px;
						color: gray
					}

					textarea {
						padding: 0px 5px;
						font-size: 30px;
						border: none;
						background: none;
						border-radius: 15px;
						width: 100%;
						outline: none;
						color: darkblue;
						resize: none;
						overflow: hidden;
						white-space: pre-wrap;
						word-wrap: break-word;
						font-family: 'Roboto';
					}
				}

				.categories-row {
					display: flex;
					flex-direction: row;
					align-items: center;
					font-size: 20px;
					margin: 15px 5px 5px 5px;

					.select {
						width: 100%;
	
						.css-yk16xz-control {
							border-radius: 15px;
							border: none;
						}
		
						.select__control--menu-is-open,
						.select__control,
						.select__value-container {
							.select__control--is-focused, .select__control--menu-is-focused{
								outline: none;
								border: none;
								border-radius: 15px;
							}
							outline: none;
							border: none;
							border-radius: 15px;
							padding: 5px;
						}
		
						.css-tj5bde-Svg, 
						.css-tj5bde-Svg, 
						.css-xb97g8, 
						.select__indicator, 
						.select__indicators, 
						.css-1hb7zxy-IndicatorsContainer {
							display: none;
						}
		
						.css-1rhbuit-multiValue {
							font-weight: 600;
							color: cornsilk;
							font-size: 17px;
							padding: 5px 15px 5px 15px;
							background: #465e9e;
							width: fit-content;
							border-radius: 15px;
							transition: box-shadow 0.1s ease;
		
							.select__multi-value__label {
								color: cornsilk;
							}
						}
					}	

					label {
						font-size: 15px;
					}

				}

				.content-row {
					display: flex;
					flex-direction: column;
					margin: 5px 0;
					border-radius: 15px;
					outline: none;
					font-family: 'Roboto';
					background: white;
					border: 1px solid lightgray;

					textarea {
						resize: none;
						border: none;
						border-radius: 15px;
						padding: 15px;
						outline: none;
						font-family: 'Roboto';
						background: none;
					}

					.buttons {
						display: flex;
						flex-direction: row-reverse;

						img {
							margin: 5px;
							height: 20px;
							width: 20px;
							filter: contrast(10%);
						}

						img:hover {
							filter: contrast(200%);
						}
					}
				}

			}

			.post {
				display: flex;
				flex-direction: column;

				.post-header {
					display: flex;
					flex-direction: row;
					align-items: center;
					height: fit-content;
					min-height: 130px;

					//height: 130px;
					position: relative;

					.post-info-div-in-header{
						width: 100%;
						padding: 10px;
					}

					.avatar {
						position: relative;
						top: 0px;
						height: 130px;
						border-radius: 100%;
						//box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
					}

					.post-info {
						margin: 5px;
						margin-left: 15px;
						font-size: 15px;
						display: flex;
						flex-direction: row;
						align-items: center;
	
						.avatar-login-div {
							width: fit-content;
							display: flex;
							flex-direction: column;
	
							img {
								margin: auto;
								height: 70px;
								width: 70px;
							}
	
							label {
								font-weight: bold;
							}
						}
	
						label {
							margin-right: 5px;
						}
					}

					.categories {
						//margin: 5px;
						//margin-left: 15px;
						//height: fit-content;
						margin: 15px 5px;
	
						.category-div {
							font-weight: 600;
							color: cornsilk;
							font-size: 14px;
							margin-right: 10px;
							padding: 5px 15px 5px 15px;
							background: #465e9e;
							width: auto;
							border-radius: 15px;
							transition: box-shadow 0.1s ease;
						}
	
						.category-div:hover {
							box-shadow: 0 3px 5px rgba(69, 69, 69, 0.5);
						}
					}

					.post-name-edit {
						padding: 5px;
						display: flex;
						flex-direction: row;
						align-items: center;
						border-bottom: 1px solid rgba(80, 80, 80, 0.3);

						
	
						.post-name {
							width: 100%;
							margin-left: 5px;
							margin-right: 5px;
							font-size: 35px;
							color: #465e9e;
						}
	
						.post-controller {
							display: flex;
							flex-direction: row;
	
							.edit, .delete {
								filter: contrast(5%);
								margin: 10px;
								height: 13px;
								width: 13px;
							}
	
							.edit:hover, .delete:hover {
								filter: contrast(200%);
							}
						}
					}
				}

				.images-div {
					padding: 40px;
					padding-left: 15px;

					img {
						width: 100%;
						height: fit-content;
						border-radius: 10px;
					}
				}


				.post-content {
					margin-left: 15px;
					margin-right: 5px;
					font-size: 15px;
					display: flex;
					flex-direction: row;
					align-items: center;

					p {
						width: 100%;
					}

					.likes {
						margin-left: 15px;
						margin-bottom: 10px;
						align-items: center;
						display: flex;
						flex-direction: column;
	
						img {
							height: 20px;
							width: 20px;
						}

						.inactive-up, .inactive-down {
							filter: contrast(20%);
						}

						.inactive-up:hover, .inactive-down:hover {
							filter: contrast(200%);
						}
	
						.rating-up, .inactive-up {
							rotate: 180deg;
						}
	
						label {
							font-weight: bold;
							color: gray;
							font-size: 15px;
							margin: 0px 5px;
						}
					}

		
				}

				

				.comments-field {
					margin-left: 10px;
					margin-right: 10px;
					display: flex;
					flex-direction: column;
					border-top: 1px solid lightgray;
					

					.no-comments-here-yet {
						margin: 15px 15px;
						color: gray;
					}

					.comment {
						//align-items: center;
						//background: rgba(208, 225, 255, 0.44);
						//margin: 5px;
						display: flex;
						flex-direction: row;
						padding: 10px;
						border-radius: 15px;
						height: fit-content;


						.avatar {
							height: 80px;
							border-radius: 100%;
						}

						.other {
							padding: 10px;
							width: 100%;

							.edit-area {
								font-family: 'Roboto';
								border: 1px solid lightgray;
								//background: white;
								font-size: 14px;
								margin: 5px;
								outline: none;
								resize: none;
								border-radius: 15px;
								padding: 5px;
								width: 100%;
							}
	
							.author-info {
								display: flex;
								flex-direction: row;
								position: relative;
								align-items: center;
	
								.edit-delete-div {
									position: absolute;
									display: flex;
									flex-direction: row;
									right: 0;
	
									img {
										margin: 3px;
										height: 10px;
										width: 10px;
										filter: contrast(10%);
									}
							
									img:hover {
										filter: contrast(200%);
									}
								}
	
								.author, .direction, .date {
									margin-left: 5px;
								}

								.date {
									width: 100%;
								}
								.direction {
									width: 100%;
								}
	
								.author {
									color: darkblue;
									font-size: 18px;
								}
	
								.date, .direction {
									font-size: 12px;
								}
							}

							.content-rating {
								display: flex;
								flex-direction: row;
								align-items: center;

								.content {
									margin: 5px;
									font-size: 15px;
									width: 100%;
								}

								.likes {
									margin-left: 15px;
									//margin-bottom: 10px;
									align-items: center;
									display: flex;
									flex-direction: column;
				
									img {
										height: 15px;
										width: 15px;
										//filter: contrast(20%);
									}

									.inactive-up, .inactive-down {
										filter: contrast(20%);
									}
			
									.inactive-up:hover, .inactive-down:hover {
										filter: contrast(200%);
									}
				
									.rating-up, .inactive-up {
										rotate: 180deg;
									}
				
									label {
										font-weight: bold;
										color: gray;
										font-size: 13px;
										margin: 0px 5px;
									}
								}
							}

						}

					}
				}

				.create-comment-field {
					margin: 0 0;
					display: flex;
					flex-direction: row;

					

					
					height: fit-content;
					width: 100%;
					//background: #465e9e;

					.testarea-length-controller {
						width: 100%;
						display: flex;
						flex-direction: column;
						border: 1px solid lightgray;
						border-radius: 15px;
						padding: 10px;
						margin-right: 5px;

						textarea {
							font-family: 'Roboto';
							width: 100%;
							margin-right: 5px;
							height: 80px;
							border: none;
							resize: none;
							outline: none;
						}

						.input-length-controller {
							text-align: right;
							//background: lightblue;
							width: 100%;
							color: gray;
							font-size: 12px;
							position: relative;
						}
					}

					button {

						outline: none;
						color: cornsilk;

						padding: 10px 20px;
						font-family: 'Roboto';
						font-size: 18px;

						height: fit-content;

						border: none;
						border-radius: 15px;
						background: #475a94;
					}
				}
			}
		}
	}
}




@media screen and (max-width: 790px) {
	.navigation-header {
		display: flex;
		flex-direction: column;
		background: #f3fdff;
		box-shadow: 0 3px 5px rgba(69, 69, 69, 0.5);
		width: auto;
		height: fit-content;
		align-items: center;
		padding: 5px;

		.link-div {
			margin: 5px;
			display: flex;
			flex-direction: row;

			#login, #register, #home, #profile {
				margin: 5px;
				font-size: 20px;
				color: black;
			}

			.login-register {
				display: flex;
				flex-direction: row;
			}
		}
	
		a {
			color: darkblue;
			text-decoration: none;
		}
	
		.search {
			align-items: center;
			display: flex;
			flex-direction: row;
			width: 100%;
			font-size: 20px;
			margin: 5px;
			box-shadow: 0 0 2px rgba(69, 69, 69, 0.5);
			border-radius: 15px;
			border: none;
			background: #ffffff;
	
			img {
				margin: 10px;
				height: 15px;
				width: 15px;
				filter: contrast(10%);
			}
	
			img:hover {
				filter: contrast(200%);
			}
	
			input {
				padding: 5px 20px 5px 20px;
				height: 30px;
				width: 100%;
				margin-right: auto;
				border: none;
				border-radius: 15px;
			}
		}
	
		.logo-div {
			display: none;
		}
	}

	.main-page {
		font-family: 'Roboto';
		display: flex;
		flex-direction: column;
	
		.posts-list, .current-post {
			margin-top: 15px;
			background: #f3fdff;
			box-shadow: 0 3px 5px rgba(69, 69, 69, 0.5);
			border-radius: 15px;
			padding: 5px;
		}
	
		.posts-list {
			height: fit-content;
			margin: 15px;
			position: relative;
	
			.create-post-div {
				align-items: center;
				background: none;
				width: auto;
				margin: 5px;
				margin-bottom: 25px;
				display: flex;
				flex-direction: column;
				padding: 5px;
				box-shadow: 0 3px 5px rgba(69, 69, 69, 0.5);
				border-radius: 15px;
	
				img {
					filter: contrast(10%);
					height: 40px;
					width: 40px;
				}
			}
	
			.create-post-div:hover {
				background: rgb(233, 244, 255);
				border-radius: 15px;
				box-shadow: 0 2px 2px rgba(69, 69, 69, 0.5);
	
				img {
					filter: contrast(200%);
				}
			}
	
			.pagination {
				text-align: center;
				margin: 5px;
				align-items: center;
				position: absolute;
				bottom: 0;
	
				width: calc(100% - 20px);
	
				button {
					margin-left: 5px;
					margin-right: 5px;
					border: none;
					background: none;
				}
			}
	
			.post-in-list {
				background: none;
				width: auto;
				margin: 5px;
				display: flex;
				flex-direction: column;
				padding: 5px;
			
				.post-name {
					color: darkblue;
					margin: 5px;
					border-bottom: 1px solid rgba(128, 128, 128, 0.5);
				}
	
				.categories {
					margin: 5px;
	
					.category-div {
						font-weight: 600;
						color: cornsilk;
						font-size: 11px;
						margin-right: 10px;
						padding: 3px 12px 3px 12px;
						background: #0b2063;
						width: auto;
						border-radius: 15px;
					}
	
					.category-div:hover {
						box-shadow: 0 3px 5px rgba(69, 69, 69, 0.5);
					}
				}
			
				.post-info {
					display: flex;
					flex-direction: row;
					align-items: center;
					position: relative;
					
					label {
						margin-left: 5px;
						font-size: 11px;
					}
	
					.author {
						font-weight: bolder;
					}
	
					.rating {
						position: absolute;
						margin-right: 15px;
						right: 0;
					}
	
				}
			}
	
			.post-in-list:hover {
				background: rgb(233, 244, 255);
				border-radius: 15px;
				box-shadow: 0 2px 2px rgba(69, 69, 69, 0.5);
			}
		}
	
		.current-post {
			padding: 10px;
			height: fit-content;
			margin: 15px;
	
			.create-post-div {
				flex-direction: column;
				display: flex;
	
				button {
					font-size: 15px;
					margin: 5px;
					background: rgba(223, 240, 255, 0.502);
					border-radius: 15px;
					border: none;
					padding: 10px;
					outline: none;
					width: auto;
				}
	
				button:hover {
					background: rgb(233, 244, 255);
					border-radius: 15px;
					box-shadow: 0 2px 2px rgba(69, 69, 69, 0.5);
				}
	
				.title-row {
					display: flex;
					flex-direction: row;
					font-size: 30px;
					padding: 5px;
					align-items: center;
					border-bottom: 1px solid rgba(80, 80, 80, 0.3);
	
					textarea {
						padding: 0px 5px;
						font-size: 30px;
						border: none;
						background: none;
						border-radius: 15px;
						width: 100%;
						outline: none;
						color: darkblue;
						resize: none;
						overflow: hidden;
						white-space: pre-wrap;
						word-wrap: break-word;
						font-family: 'Roboto';
					}
				}
	
				.categories-row {
					display: flex;
					flex-direction: row;
					align-items: center;
					font-size: 20px;
					margin: 5px;
	
					label {
						font-size: 15px;
					}
	
					.list {
						background: white;
						border-radius: 15px;
						width: 100%;
						display: flex;
						flex-direction: row;
						flex-flow: wrap;
	
						.element {
							margin: 5px;
							list-style-type: none;
							align-items: center;
	
							.category-div {
								font-weight: 600;
								color: cornsilk;
								font-size: 14px;
								padding: 5px 15px 5px 15px;
								background: #0b2063;
								border-radius: 15px;
							}
						}
	
						input {
							width: auto;
							margin: 5px;
							margin-left: 10px;
							font-size: 20px;
							outline: none;
							border: none;
						}
					}
				}
	
				.content-row {
					display: flex;
					flex-direction: column;
					margin: 5px;
					border-radius: 15px;
					outline: none;
					font-family: 'Roboto';
					background: white;
	
					textarea {
						resize: none;
						border: none;
						border-radius: 15px;
						padding: 15px;
						outline: none;
						font-family: 'Roboto';
						background: none;
					}
	
					.buttons {
						display: flex;
						flex-direction: row-reverse;
	
						img {
							margin: 5px;
							height: 20px;
							width: 20px;
							filter: contrast(10%);
						}
	
						img:hover {
							filter: contrast(200%);
						}
					}
				}
	
			}
	
			.post {
				display: flex;
				flex-direction: column;
	
				.categories {
					margin: 5px;
					margin-left: 15px;
	
					.category-div {
						font-weight: 600;
						color: cornsilk;
						font-size: 14px;
						margin-right: 10px;
						padding: 5px 15px 5px 15px;
						background: #0b2063;
						width: auto;
						border-radius: 15px;
					}
	
					.category-div:hover {
						box-shadow: 0 3px 5px rgba(69, 69, 69, 0.5);
					}
				}
	
				.post-name-edit {
					padding: 5px;
					display: flex;
					flex-direction: row;
					align-items: center;
					border-bottom: 1px solid rgba(80, 80, 80, 0.3);
	
					.post-name {
						width: 100%;
						margin-left: 5px;
						margin-right: 5px;
						font-size: 30px;
						color: darkblue;
					}
	
					.post-controller {
						display: flex;
						flex-direction: row;
	
						.edit, .delete {
							filter: contrast(5%);
							margin: 10px;
							height: 13px;
							width: 13px;
						}
	
						.edit:hover, .delete:hover {
							filter: contrast(200%);
						}
					}
				}
	
				.post-info {
					margin: 5px;
					margin-left: 15px;
					font-size: 14px;
	
					label {
						margin-right: 5px;
					}
				}
	
				.post-content {
					margin-left: 15px;
					margin-right: 5px;
					font-size: 15px;
				}
	
				.likes {
					margin-left: 15px;
					margin-bottom: 10px;
					font-size: 15px;
					align-items: center;
	
					button {
						margin-right: 5px;
						border: none;
						background: none;
					}
	
					label {
						margin-right: 5px;
					}
				}
	
				.comments-field {
					margin-left: 5px;
					margin-right: 5px;
					display: flex;
					flex-direction: column;
	
					.comment {
						background: rgba(208, 225, 255, 0.44);
						margin-bottom: 5px;
						display: flex;
						flex-direction: column;
						padding: 10px;
						border-radius: 15px;
	
						.edit-area {
							font-family: 'Roboto';
							border: none;
							background: white;
							font-size: 14px;
							margin: 5px;
							outline: none;
							resize: none;
							border-radius: 5px;
							padding: 5px;
						}
					
						.likes {
							margin: 0px;
							font-size: 13px;
							align-items: center;
	
							button {
								margin-right: 5px;
								border: none;
								background: none;
							}
	
							label {
								margin-right: 5px;
							}
						}
	
						.author-info {
							display: flex;
							flex-direction: row;
							position: relative;
							align-items: center;
	
							.edit-delete-div {
								position: absolute;
								display: flex;
								flex-direction: row;
								right: 0;
	
								img {
									margin: 3px;
									height: 10px;
									width: 10px;
									filter: contrast(10%);
								}
						
								img:hover {
									filter: contrast(200%);
								}
							}
	
							.author, .direction, .date {
								margin-left: 5px;
							}
	
							.author {
								color: darkblue;
								font-size: 18px;
							}
	
							.date, .direction {
								font-size: 12px;
							}
						}
	
						.content {
							margin: 5px;
							font-size: 15px;
						}
					}
				}
	
				.create-comment-field {
					margin-top: 15px;
					margin-left: 5px;
					margin-right: 5px;
					display: flex;
					flex-direction: row;
					align-items: center;
					height: 60px;
					width: 100%;
	
					button, textarea {
						height: 100%;
						outline: none;
					}
	
					textarea {
						padding: 10px;
						width: 100%;
						margin-right: 5px;
						height: 40px;
						border: none;
						border-radius: 5px;
						resize: none;
						// resize: vertical;
						// min-height: 60px;
					}
	
					button {
						width: 60px;
						margin-right: 10px;
						border: none;
						border-radius: 5px;
					}
				}
			}
		}
	}
}
