@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.login-form {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	display: flex;
	flex-direction: column;
	font-size: 30px;
	border-radius: 15px;
	background: #f3fdff;
	box-shadow: 0 3px 5px rgba(69, 69, 69, 0.5);
	padding: 30px;

	input, button {
		margin: 10px;
		padding: 15px;
		border: none;
		outline: none;
		background: none;
		border-bottom: 1px solid gray;
	}

	button {
		border: none;
		border-radius: 15px;
	}

	button:hover {
		background: #e3f9fe;
		border: none;
		box-shadow: 0 3px 5px rgba(69, 69, 69, 0.5);
	}
}

Link {
	color: black;
}

.main-page {
	font-family: 'Roboto';
	min-width: 850px;
	display: flex;
	flex-direction: row;

	.posts-list, .current-post {
		margin-top: 15px;
		background: #f3fdff;
		box-shadow: 0 3px 5px rgba(69, 69, 69, 0.5);
		border-radius: 15px;
		padding: 5px;
	}

	.posts-list {
		height: auto;
		height: 600px;
		width: 400px;
		// margin-left: auto;
		margin-right: 5px;
		margin-left: 15px;
		//margin: 5px;
		position: relative;

		.pagination {
			text-align: center;
			margin: 5px;
			align-items: center;
			position: absolute;
			bottom: 0;

			width: calc(100% - 20px);

			button {
				margin-left: 5px;
				margin-right: 5px;
				border: none;
				background: none;
			}
		}

		.post-in-list {
			background: none;
			width: auto;
			margin: 5px;
			display: flex;
			flex-direction: column;
			padding: 5px;
		
			.post-name {
				color: darkblue;
				margin: 5px;
				border-bottom: 1px solid rgba(128, 128, 128, 0.5);
			}

			.categories {
				margin: 5px;

				.category-div {
					font-weight: 600;
					color: cornsilk;
					font-size: 11px;
					margin-right: 10px;
					padding: 3px 12px 3px 12px;
					background: #0b2063;
					width: auto;
					border-radius: 15px;
				}

				.category-div:hover {
					box-shadow: 0 3px 5px rgba(69, 69, 69, 0.5);
				}
			}
		
			.post-info {
				display: flex;
				flex-direction: row;
				align-items: center;
				position: relative;
				
				label {
					margin-left: 5px;
					font-size: 11px;
				}

				.author {
					font-weight: bolder;
				}

				.rating {
					position: absolute;
					margin-right: 15px;
					right: 0;
				}

			}
		}

		.post-in-list:hover {
			background: rgb(233, 244, 255);
			border-radius: 15px;
			box-shadow: 0 2px 2px rgba(69, 69, 69, 0.5);
		}
	}

	.current-post {
		padding: 10px;
		height: auto;
		width: 650px;
		margin-right: 15px;
		margin-left: 5px;

		.post {
			display: flex;
			flex-direction: column;
			

			.categories {
				margin: 5px;

				.category-div {
					font-weight: 600;
					color: cornsilk;
					font-size: 14px;
					margin-right: 10px;
					padding: 5px 15px 5px 15px;
					background: #0b2063;
					width: auto;
					border-radius: 15px;
				}

				.category-div:hover {
					box-shadow: 0 3px 5px rgba(69, 69, 69, 0.5);
				}
			}

			.post-name-edit {
				padding: 5px;
				display: flex;
				flex-direction: row;
				align-items: center;
				border-bottom: 1px solid rgba(80, 80, 80, 0.3);

				.post-name {
					width: 100%;
					margin-left: 5px;
					margin-right: 5px;
					font-size: 30px;
					color: darkblue;
				}

				.post-controller {
					display: flex;
					flex-direction: row;

					.edit, .delete {
						filter: contrast(5%);
						margin: 10px;
						height: 13px;
						width: 13px;
					}

					.edit:hover, .delete:hover {
						filter: contrast(200%);
					}
				}
			}

			.post-info {
				margin: 5px;
				font-size: 14px;

				label {
					margin-right: 5px;
				}
			}

			.post-content {
				margin-left: 5px;
				margin-right: 5px;
				font-size: 15px;
			}

			.likes {
				margin-bottom: 10px;
				font-size: 15px;
				align-items: center;

				button {
					margin-right: 5px;
					border: none;
					background: none;
				}

				label {
					margin-right: 5px;
				}
			}

			.comments-field {
				margin-left: 5px;
				margin-right: 5px;
				display: flex;
				flex-direction: column;
				//background: rgb(201, 255, 146);

				.comment {
					background: rgba(208, 225, 255, 0.44);
					margin-bottom: 5px;
					display: flex;
					flex-direction: column;
					padding: 10px;
					border-radius: 15px;

					.edit-area {
						font-family: 'Roboto';
						border: none;
						background: white;
						font-size: 14px;
						margin: 5px;
						outline: none;
						resize: none;
						border-radius: 5px;
						padding: 5px;
					}
				
					.likes {
						margin: 0px;
						font-size: 13px;
						align-items: center;

						button {
							margin-right: 5px;
							border: none;
							background: none;
						}

						label {
							margin-right: 5px;
						}
					}

					.author-info {
						display: flex;
						flex-direction: row;
						position: relative;
						align-items: center;

						.edit-delete-div {
							position: absolute;
							display: flex;
							flex-direction: row;
							right: 0;

							img {
								margin: 3px;
								height: 10px;
								width: 10px;
								filter: contrast(10%);
							}
					
							img:hover {
								filter: contrast(200%);
							}
						}

						.author, .direction, .date {
							margin-left: 5px;
						}

						.author {
							color: darkblue;
							font-size: 18px;
						}

						.date, .direction {
							font-size: 12px;
						}
					}

					.content {
						margin: 5px;
						font-size: 15px;
					}
				}
			}
			.create-comment-field {
				margin-top: 15px;
				margin-left: 5px;
				margin-right: 5px;
				display: flex;
				flex-direction: row;
				align-items: center;
				height: 60px;
				width: 100%;

				button, textarea {
					height: 100%;
					outline: none;
				}

				textarea {
					padding: 10px;
					width: 100%;
					margin-right: 5px;
					height: 40px;
					border: none;
					border-radius: 5px;
					resize: none;
					// resize: vertical;
					// min-height: 60px;
				}

				button {
					width: 60px;
					margin-right: 10px;
					border: none;
					border-radius: 5px;
				}
			}
		}
	}
}

.navigation-header {
	display: flex;
	flex-direction: row;
  background: #f3fdff;
	box-shadow: 0 3px 5px rgba(69, 69, 69, 0.5);
  width: 100%;
	height: 50px;
	align-items: center;
	min-width: 1000px;

	#login, #register, #home {
		margin: 5px;
		font-size: 20px;
		color: black;
	}

	.search {
		align-items: center;
		display: flex;
		flex-direction: row;
		width: 500px;
		font-size: 20px;
		margin: auto;
		box-shadow: 0 0 2px rgba(69, 69, 69, 0.5);
		border-radius: 15px;
		border: none;
		background: #ffffff;

		img {
			margin: 10px;
			height: 15px;
			width: 15px;
			filter: contrast(10%);
		}

		img:hover {
			filter: contrast(200%);
		}

		input {
			padding: 5px 20px 5px 20px;
			height: 30px;
			width: 100%;
			margin-right: auto;
			border: none;
			border-radius: 15px;
		}
		
	}

	.logo-div {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 150px;
		
		label {
			font-size: 25px;
		}

		img {
			height: 35px;
			width: 35px;
			margin-bottom: 5px;
			margin-left: 30px;
		}
	}
}
